{% extends 'base.html' %}
{% block title%}
    MazeG | home
{% endblock %}
{% block content %}
    <section class="main-section">
        <div class="home-div">
            <h2 class="home-h2"> What is MazeG? </h2>
            <p class="home-p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis, ligula et fermentum placerat, nunc tellus rutrum massa, sed congue dui mi nec metus. Ut purus purus, hendrerit eu iaculis ac, varius eget nibh. Pellentesque eu blandit neque, ut ultrices purus. Donec posuere massa eget facilisis interdum. Cras iaculis nisl eget nulla egestas rhoncus. Fusce consectetur felis at posuere molestie. Mauris sagittis nisl id ex tincidunt, at vulputate purus bibendum. Fusce finibus, purus in aliquam convallis, sapien lorem suscipit risus, vel tincidunt enim sapien at metus. Integer sit amet diam eu nisi tempor pulvinar vitae vitae augue. Fusce mauris lorem, pharetra in ante vitae, sollicitudin tincidunt dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed scelerisque eu velit vitae mollis. Morbi consequat vestibulum sem at venenatis. Vestibulum eget fermentum sapien. In a ornare odio, vel tempus libero.</p>
        </div>
        <div class="home-div">
            <h2 class="home-h2"> Generator Strategies </h2>
            <h3 class="home-h3">Strategy A</h3>
            <h3 class="home-h3">Strategy B</h3>
        </div>
    </section>
{% endblock %}